# bnaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# goland
.idea

# vendor
/vendor-new
/vendor
/.vendor-new

# draw.io images
images/*.xml

# vim stack dump
vim.exe.stackdump
